<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">

                <div class="card-heading bg-primary">
                    <h1 class="card-text">Users from API</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(users)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Website</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>Joe</td>
                                <td>Buck</td>
                                <td>foo@example.com</td>
                                <td>London</td>
                                <td>132-123-1234</td>
                                <td>example.com</td>
                            </tr>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.name}">Joe</td>
                                <td th:text="${user.name}">Buck</td>
                                <td th:text="${user.email}">foo@example.com</td>
                                <td th:text="${user.address.city}">Male</td>
                                <td th:text="${user.phone}">132-123-1234</td>
                                <td th:text="${user.website}">website</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>